<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MGuzmanProgramacionNCapas" connectionString="Data Source=.;Initial Catalog=MGuzmanProgramacionNCapas;User ID=sa;Password=pass@word1;Encrypt=False" providerName ="System.Data.SqlClient"/>
		
		 <add name="OleDbConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties=Excel 12.0 XML;Data Source=" />

		
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>